{% extends 'DASHBOARD/base.html' %}

{% load static %}

{% block content %}


<!-- <div class="container-fluid">
<div class="row row-cols-1 row-cols-md-3 g-4 justify-content-md-center">
    <div class="col col-lg-2"> -->
<div class="container">
<div class="row">
    <div class="col-8">
    {% for farm in farms %}
<div class="card flex-fill style="width: 18rem;">
<img alt="Card Image" src="{{ farm.farm_image.url }} " class="card-img-top">
<div class="card-header">
<h5 class="card-title mb-0">{{ farm.name }} </h5>
</div>
<div class="card-body">
<p class="card-text">{{ farm.description }} </p>
<a class="btn btn-primary" href="#">More Details</a>
</div>
</div>
{% endfor %}
</div>
</div>
</div>

{% endblock %}